<%-include('../layouts/admin_header.ejs')%>

<div class="row">
  <div class="col-sm-12">
    <form action="/admin/category/edit/<%=oldCategory.id%>?_method=PUT" method="POST">
      <div class="form-group">
        <h1>Edit Category</h1>
        <label for="name">Category Name</label>
        <input
          type="text"
          name="name"
          placeholder="Enter Category"
          class="form-control"
          value="<%=oldCategory.name%>"
        />
      </div>
      <button type="submit" class="btn btn-primary">Update Category</button>
    </form>
  </div>
  


<%-include('../layouts/admin_footer.ejs')%>
